<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header" <="" ion-content="">
            <ion-list></ion-list>
            <div class="list card">
                <div class="item item-divider">Options</div>
                <div class="item item-body">
                    <form class="list">
                        <ion-item class="range range-positive">Duration
                            <input type="range" value="5" min="2" max="20">
                        </ion-item>
                        <label class="item item-select">
                            <span class="input-label">Location</span>
                            <select>
                                <option>Top</option>
                                <option>Middle</option>
                                <option>Bottom</option>
                            </select>
                        </label>
                    </form>
                </div>
            </div>
            <ion-list></ion-list>
            <div class="list card">
                <div class="item item-divider">Account</div>
                <div class="item item-body">
                    <ion-list>
                        <ion-item href="#/options/login" menu-close="">Login</ion-item>
                        <ion-item href="#/options/message" menu-close="">Messages</ion-item>
                        <ion-item href="#/options/shows" menu-close="">Shows</ion-item>
                    </ion-list>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>