<ion-view title="Message">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="setSticker(1)">Funny</button>
            <button class="button button-stable button-block " ng-click="setSticker(2)">Boring</button>
            <button class="button button-stable button-block " ng-click="setSticker(3)">Oh No!</button>
        </div>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
            <img ng-src="{{data.sticker}}">
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Comment</span>
                <input type="text" placeholder="" ng-model="data.message">
            </label>
        </form>
        <button class="button button-stable button-block " ng-click="submitMessage()">Submit</button>
        <p>{{ data.serverResponse }}</p>
    </ion-content>
</ion-view>