<ion-view title="Shows">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/options/message">
                <img>
                <h2>Patriots vs. Jets</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/options/message">
                <img>
                <h2>The Simpsons</h2>
                <p></p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>X-Men: Days of the Future Past</h2>
                <p></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>